absl-py==2.0.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
altair==5.1.1
annotated-types==0.6.0
anyio==4.2.0
astunparse==1.6.3
attrs==23.1.0
backports.csv==1.0.7
bcrypt==4.0.1
blinker==1.6.2
blis==1.2.0
boltons @ file:///Users/ec2-user/ci_py311/boltons_1678396074811/work
brotlipy==0.7.0
cachetools==5.3.1
catalogue==2.0.10
certifi==2023.7.22
cffi @ file:///Users/ec2-user/ci_py311/cffi_1678315312775/work
chardet==4.0.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
cloudpathlib==0.20.0
conda @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_5aeztnykre/croot/conda_1689269911902/work
conda-content-trust @ file:///Users/ec2-user/ci_py311/conda-content-trust_1678409283937/work
conda-libmamba-solver @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b7jucd8kvj/croot/conda-libmamba-solver_1685032330942/work/src
conda-package-handling @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_f61sssj1s3/croot/conda-package-handling_1685024797154/work
conda_package_streaming @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_78ue32m8ay/croot/conda-package-streaming_1685019689310/work
confection==0.1.5
contourpy==1.1.1
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_d3qwb8u102/croot/cryptography_1686613065937/work
cycler==0.10.0
cymem==2.0.11
dataclasses-json==0.6.7
distro==1.9.0
et-xmlfile==1.1.0
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
fonttools==4.42.1
frozenlist==1.5.0
gast==0.5.4
gitdb==4.0.10
GitPython==3.1.36
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==3.0.0
grpcio==1.59.2
h11==0.14.0
h5py==3.10.0
httpcore==1.0.2
httpx==0.28.1
httpx-sse==0.4.0
idna==2.10
importlib-metadata==6.8.0
install==1.3.5
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
keras==2.14.0
kiwisolver==1.4.5
langchain==0.3.18
langchain-community==0.3.17
langchain-core==0.3.34
langchain-ollama==0.2.3
langchain-text-splitters==0.3.6
langcodes==3.5.0
langsmith==0.3.8
language_data==1.3.0
libclang==16.0.6
libmambapy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_91xegtksvi/croot/mamba-split_1685993177539/work/libmambapy
marisa-trie==1.2.1
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.26.1
matplotlib==3.8.0
mdurl==0.1.2
ml-dtypes==0.2.0
multidict==6.1.0
murmurhash==1.0.12
mypy-extensions==1.0.0
nltk==3.8.1
numpy==1.26.4
oauthlib==3.2.2
ollama==0.4.7
openai==1.7.1
opencv-python==4.9.0.80
opencv-python-headless==4.8.0.74
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.10.15
packaging==23.2
pandas==1.5.3
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pdfminer.six==20231228
pdfplumber==0.11.5
Pillow==9.5.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1696272223550/work
pluggy @ file:///Users/ec2-user/ci_py311/pluggy_1678315400971/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1695993109846/work
preshed==3.0.9
propcache==0.2.1
protobuf==4.24.3
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycosat @ file:///Users/ec2-user/ci_py311/pycosat_1678378899646/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydeck==0.8.0
pygame==2.5.2
Pygments==2.16.1
Pympler==1.0.1
pyOpenSSL @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_19gfn1ib_u/croot/pyopenssl_1678965300171/work
pyparsing==3.1.1
pypdfium2==4.30.1
pypng==0.20220715.0
PySocks @ file:///Users/ec2-user/ci_py311/pysocks_1678315868424/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==1.0.0
python-magic==0.4.27
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
qrcode==7.4.2
referencing==0.30.2
regex==2024.4.28
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.5.2
roboflow==1.1.16
rpds-py==0.10.3
rsa==4.9
ruamel.yaml @ file:///Users/ec2-user/ci_py311/ruamel.yaml_1678379291841/work
scikit-learn==1.3.1
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1683719499366/work/dist/scipy-1.10.1-cp311-cp311-macosx_10_9_x86_64.whl#sha256=7a40f69165dfba0ef859a76bf05c9d4d12b657cf8f4ab2a4d8adfe9521acbb97
seaborn==0.13.2
shellingham==1.5.4
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==7.1.0
smmap==5.0.1
sniffio==1.3.0
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.22
srsly==2.5.1
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1696548205744/work
streamlit==1.27.2
supervision==0.17.1
tablib==3.5.0
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
thinc==8.3.4
threadpoolctl==3.2.0
toml==0.10.2
toolz @ file:///Users/ec2-user/ci_py311/toolz_1678323009669/work
tornado==6.3.3
tqdm @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_03acd6t6ca/croot/tqdm_1679561866522/work
typer==0.15.1
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzdata==2023.3
tzlocal==4.3.1
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1968zekhce/croot/urllib3_1686163172153/work
validators==0.22.0
wasabi==1.1.3
watchdog==3.0.0
weasel==0.4.1
Werkzeug==3.0.0
wrapt==1.14.1
xgboost==2.1.3
Yahoo-ticker-downloader==3.0.1
yarl==1.18.3
zipp==3.16.2
zstandard==0.23.0
